{% extends 'base.html' %}

{% block content %}
    <h1>Rhaken Storage</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <h7>Banyak Jenis Item : {{banyak_jenis_item}}</h7><br>
    <h7>Kamu menyimpan {{banyak_item}} item pada aplikasi ini</h7>
    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            
            <th>Add</th>
            <th>Sub</th>
            <th>Delete</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.description}}</td>
				<td>
                    <form method="post" action="{% url 'main:add_amount' product.id %}">
                         {% csrf_token %}
                         <button type="submit">Tambah</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'main:sub_amount' product.id %}">
                         {% csrf_token %}
                         <button type="submit">Kurang</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'main:delete_item' product.id %}">
                         {% csrf_token %}
                         <button type="submit">Hapus</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    
    <br />
    
    <a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
	</a>
	
	<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}

